<div class="container" *ngIf="team">
  <div class="col s12">
    <h2>
      {{ team.name }}
      <button mat-button (click)="goToOverview(team.id)">
        <mat-icon>zoom_in</mat-icon>
      </button>
    </h2>
  </div>
  <mat-tab-group dynamicHeight>
    <mat-tab label="Edit">
      <mat-form-field class="full-width">
        <input matInput [(ngModel)]="team.name" placeholder="name" value="" />
      </mat-form-field>
      <mat-form-field class="full-width">
        <input
          matInput
          [(ngModel)]="team.avatar"
          placeholder="avatar"
          value=""
        />
      </mat-form-field>
      <mat-form-field class="full-width">
        <input
          matInput
          [(ngModel)]="team.description"
          placeholder="description"
          value=""
        />
      </mat-form-field>

      <button mat-flat-button color="primary" (click)="save()">
        Save team
      </button>
    </mat-tab>
    <mat-tab label="Create probe">
      <app-http-probe-creation-form
        [teamId]="team.id"
      ></app-http-probe-creation-form>
    </mat-tab>
    <mat-tab label="Create connector">
      <app-connector-creation-form
        [teamId]="team.id"
      ></app-connector-creation-form>
    </mat-tab>
  </mat-tab-group>
  <mat-tab-group dynamicHeight>
    <mat-tab label="Probes">
      <app-http-probes-overview
        [probes]="probes"
        [canDelete]="true"
      ></app-http-probes-overview>
    </mat-tab>
    <mat-tab label="Connectors">
      <app-connectors-overview [teamId]="team.id"></app-connectors-overview>
    </mat-tab>
    <mat-tab label="Projects">
      <app-projects-overview [teamId]="team.id"></app-projects-overview>
    </mat-tab>
    <mat-tab label="Merge requests">
      <app-merge-requests-overview
        [teamId]="team.id"
      ></app-merge-requests-overview>
    </mat-tab>
  </mat-tab-group>
</div>
