<mat-form-field class="full-width">
  <input matInput [(ngModel)]="name" placeholder="name" value="" />
</mat-form-field>
<mat-form-field class="full-width">
  <input matInput [(ngModel)]="url" placeholder="url" value="" />
</mat-form-field>
<mat-form-field class="full-width">
  <input matInput [(ngModel)]="tag" placeholder="tag" value="" />
</mat-form-field>
<button mat-flat-button color="primary" (click)="create()">
  Create probe
</button>
