<div *ngIf="team" class="row">
  <section class="col-md-3">
    <app-team-card [team]="team"></app-team-card>
  </section>
  <section class="col-md-9">
    <div class="">
      <h2>PROBES</h2>
      <div class="">
        <app-http-probes-overview [probes]="probes"></app-http-probes-overview>
      </div>
    </div>
    <div class="">
      <h2>MERGE REQUESTS</h2>
      <div class="">
        <app-merge-requests-overview
          [teamId]="team.id"
        ></app-merge-requests-overview>
      </div>
    </div>
    <div class="">
      <h2>PROJECTS</h2>
      <div class="">
        <app-projects-overview [teamId]="team.id"></app-projects-overview>
      </div>
    </div>
  </section>
</div>
