<div *ngIf="connectors">
  <div class="row justify-content-md-center">
    <div *ngFor="let connector of connectors" class="col-md-auto connector">
      <div class="card">
        <div class="card-header">
          {{ connector.type }}
        </div>
        <div class="card-body">
          <a class="card-text" href="{{ connector.url }}">{{
            connector.url
          }}</a>
          <p class="card-text">{{ connector.teamReference }}</p>
          <p class="card-text">{{ connector.privateToken }}</p>
          <button mat-mini-fab color="warn" (click)="delete(connector.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
