<div *ngIf="team" class="card" style="max-width: 18rem;">
  <img class="card-img-top" src="{{ team.avatar }}" alt="team avatar" />
  <h2 class="card-title">{{ team.name }}</h2>
  <div class="card-body">{{ team.description }}</div>
  <div class="card-body">
    <button mat-button (click)="goToOverview(team.id)">
      <mat-icon>zoom_in</mat-icon>
    </button>
    <button mat-button color="primary" (click)="goToEdition(team.id)">
      <mat-icon>edit</mat-icon>Edit
    </button>
    <button mat-button color="warn" (click)="deleteTeam(team.id)">
      <mat-icon>delete</mat-icon>Delete
    </button>
  </div>
</div>
