<div *ngIf="reduced" class="container">
  <div *ngFor="let group of reduced" class="">
    <h3>{{ group.name }}</h3>
    <div class="row">
      <app-http-probe-overview
        *ngFor="let probe of group.probes"
        [probe]="probe"
        [canDelete]="canDelete"
      >
      </app-http-probe-overview>
    </div>
  </div>
</div>
