<div>
  <mat-form-field>
    <input matInput #teamName id="team-name" placeholder="Team name" value="" />
  </mat-form-field>
  <button mat-button color="primary" (click)="addTeam(teamName.value)">
    <mat-icon>create</mat-icon>Create
  </button>
</div>
