<div *ngIf="projects">
  <div class="row justify-content-md-center">
    <div *ngFor="let project of projects" class="col-md-auto project">
      <div class="card">
        <img
          *ngIf="project.avatar"
          class="card-img-top"
          src="{{ project.avatar }}"
          alt="project avatar"
        />
        <h3 class="card-title">
          {{ project.name }}
        </h3>
        <div class="card-body">
          <p class="card-text">{{ project.description }}</p>
          <p class="card-text">{{ project.lastUpdateDate }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
