<header>
  <nav>
    <mat-toolbar>
      <mat-toolbar-row>
        <a href="/" class="brand-logo center"> <mat-icon>home</mat-icon></a>
      </mat-toolbar-row>
    </mat-toolbar>
  </nav>
</header>
<main>
  <router-outlet></router-outlet>
</main>
