.success {
  background-color: #28a745;
}

.failure {
  background-color: #dc3545;
}

.unknown {
  background-color: blue;
}

.probe {
  display: block;

  margin-top: 10px;
  margin-left: 10px;
  height: 75px;
  width: 75px;

  text-align: center;
  vertical-align: middle;
}
