<div class="{{ state }} probe" *ngIf="probe">
  <div>{{ probe.name }}</div>
  <div *ngIf="canDelete">
    <button mat-mini-fab color="warn" (click)="delete()">
      <mat-icon>delete</mat-icon>
    </button>
  </div>
</div>
