<mat-form-field>
  <mat-label>Choose an type</mat-label>
  <mat-select [(ngModel)]="type">
    <mat-option *ngFor="let type of availableTypes" [value]="type">{{
      type
    }}</mat-option>
  </mat-select>
</mat-form-field>
<mat-form-field class="full-width">
  <input matInput [(ngModel)]="url" placeholder="url" value="" />
</mat-form-field>
<mat-form-field class="full-width">
  <input
    matInput
    [(ngModel)]="privateToken"
    placeholder="privateToken"
    value=""
  />
</mat-form-field>
<mat-form-field class="full-width">
  <input
    matInput
    [(ngModel)]="teamReference"
    placeholder="teamReference"
    value=""
  />
</mat-form-field>
<button mat-flat-button color="primary" (click)="create()">
  Create connector
</button>
