<div>
  <app-team-creation-form></app-team-creation-form>
  <div class="row justify-content-md-center">
    <app-team-card
      [team]="team"
      *ngFor="let team of teams"
      class="col-md-auto connector"
    ></app-team-card>
  </div>
</div>
