<div *ngIf="mergeRequests">
  <div class="row justify-content-md-center {{ getOverviewBg() }}">
    <div
      *ngFor="let mergeRequest of mergeRequests"
      class="col-md-auto merge-request"
    >
      <div class="card {{ getMergeRequestBgClass(mergeRequest) }}">
        <div class="card-header">
          {{ mergeRequest.title }}
        </div>
        <div class="card-body">
          <p class="card-text">{{ mergeRequest.description }}</p>
          <p class="card-text">{{ mergeRequest.createdAt }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
